#milk{
	width: 50px;
	height: 100px;
	position: absolute;
	left: 60px;
	top: 130px;
	background-image: url(../images/milk.png);
	background-size: cover;
}
#eggs{
	width: 120px;
	height: 80px;
	left: 150px;
	top: 160px;
	position: absolute;
	background-image: url(../images/eggs.png);
	background-size: cover;
}
#brie{
	width: 80px;
	height: 80px;
	left: 280px;
	top: 160px;
	position: absolute;
	background-image: url(../images/brie.png);
	background-size: cover;
}
#fridge{
	float:right;
	width: 500px;
	height: 600px;
	background-image: url(../images/empty-fridge.jpg);
	background-size: cover;
	cursor: pointer;
	margin-right: 100px;
}
#shelf{
	float:left;
	width: 380px;
	height: 120px;
	background-image: url(../images/shelf.png);
	background-size: cover;
	cursor: pointer;
	margin-top: 150px;
}
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#home{
	height:40px;
	opacity: 0.6;
	cursor: pointer;
	float:left;	
}
#home:hover{
	opacity: 0.9;
}